<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.vw.exlap.android">

    <uses-permission android:name="com.google.android.gms.permission.CAR_VENDOR_EXTENSION"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name="com.github.martoreto.aauto.vex.vag.ExlapProxyService" />
        <service android:name="com.github.martoreto.aauto.vex.vag.ExlapSessionService" />
        <service android:name="com.github.martoreto.aauto.vex.vag.ExlapCarStatsService"
            android:permission="com.github.martoreto.aauto.vex.BIND_CAR_STATS_PROVIDER">
            <intent-filter>
                <action android:name="com.github.martoreto.aauto.vex.CAR_STATS_PROVIDER"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>
    </application>

</manifest>
